name: Update README.md

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 15 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.9.0'
          cache: 'yarn'
      - name: Cache dependencies and build outputs
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-js-${{ hashFiles('yarn.lock') }}
      - name: Install dependencies
        run: yarn --immutable

      # Generate GitHub Stats Cards
      - name: Generate Stats Card
        uses: stats-organization/github-readme-stats-action@v1
        with:
          card: stats
          options: show_icons=true&count_private=true&theme=react&bg_color=1F222E&title_color=7cebf5&icon_color=2d7de4&border_color=7cebf5&border_radius=10
          path: profile/stats.svg

      - name: Generate Top Languages Card
        uses: stats-organization/github-readme-stats-action@v1
        with:
          card: top-langs
          options: langs_count=8&layout=compact&theme=react&bg_color=1F222E&title_color=7cebf5&icon_color=2d7de4&border_color=7cebf5&border_radius=10
          path: profile/top-langs.svg

      - name: Generate Pin Card - react-metamask-avatar
        uses: stats-organization/github-readme-stats-action@v1
        with:
          card: pin
          options: username=ssbarbee&repo=react-metamask-avatar&bg_color=1F222E&title_color=7cebf5&icon_color=2d7de4&theme=react&border_color=7cebf5&border_radius=10&show_icons=true
          path: profile/pin-react-metamask-avatar.svg

      - name: Generate Pin Card - app-store-ratings
        uses: stats-organization/github-readme-stats-action@v1
        with:
          card: pin
          options: username=ssbarbee&repo=app-store-ratings&bg_color=1F222E&title_color=7cebf5&icon_color=2d7de4&theme=react&border_color=7cebf5&border_radius=10&show_icons=true
          path: profile/pin-app-store-ratings.svg

      - name: Generate Pin Card - iap-apple
        uses: stats-organization/github-readme-stats-action@v1
        with:
          card: pin
          options: username=ssbarbee&repo=iap-apple&bg_color=1F222E&title_color=7cebf5&icon_color=2d7de4&theme=react&border_color=7cebf5&border_radius=10&show_icons=true
          path: profile/pin-iap-apple.svg

      - name: Generate Pin Card - pixijs-adventure
        uses: stats-organization/github-readme-stats-action@v1
        with:
          card: pin
          options: username=ssbarbee&repo=pixijs-adventure&bg_color=1F222E&title_color=7cebf5&icon_color=2d7de4&theme=react&border_color=7cebf5&border_radius=10&show_icons=true
          path: profile/pin-pixijs-adventure.svg

      - name: Generate Pin Card - pulse-eco-garmin-widget
        uses: stats-organization/github-readme-stats-action@v1
        with:
          card: pin
          options: username=ssbarbee&repo=pulse-eco-garmin-widget&bg_color=1F222E&title_color=7cebf5&icon_color=2d7de4&theme=react&border_color=7cebf5&border_radius=10&show_icons=true
          path: profile/pin-pulse-eco-garmin-widget.svg

      - name: Update README file
        run: yarn update
      - name: Commit and push new README.md
        run: |-
          git config --global user.name "ssbarbee"
          git config --global user.email "ssbarbee@gmail.com"
          git commit -a -m "chore: content update" || exit 0
          git push
